# Dependencies
node_modules/
venv/
.venv/

# Build and Executable Output
exe/
build/
backend_dist/
dist/
dist-electron/
*.spec

# Test Data & Output Folders
samples/
results/

# AI System Rules & Logs
AI_RULES.md

# Temp & OS Files
.DS_Store
Thumbs.db
*.pyc
__pycache__/
.idea/
.vscode/
